::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  width: 7px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #222025;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#A570A5, rgb(116, 81, 116));
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(rgb(202, 135, 202), rgb(155, 109, 155)); 
}