* {
  margin: 0px;
  padding: 0px;
  border: none;
}
:root {
  height: 100%;
  font-size: 2vmin;
}

body {
  height: 100%;
  background: #111;
  touch-action: none;
}

section {
  height: 50%;
  width: 50%;
  --width: 5vw;
  background: #882b2b;
  position: relative;
}

.label {
  font-size: 3rem;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  background: #d2c4d6;
}

.box:nth-of-type(2n) {
  border-radius: 50%;
}

.boxleft {
  left: calc(50% - var(--width));
  width: 200px;
  height: 200px;
}

.boxright {
  left: calc(50% + var(--width));
  background: green;
}

.boxtop {
  top: calc(50% - var(--width));
}

.boxbottom {
  top: calc(50% + var(--width));
}

.boxavg {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: mintcream;
  pointer-events: none;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.5);
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: #777; 
}