* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background: #1d1d25;
}

.game-display {
  height: 100vmin;
  width: 100vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  touch-action: none;
}