* {
  margin: 0;
  padding: 0;
}

a, a:visited {display: contents; color: inherit; text-decoration: none;}
button, input {color: inherit; font-family: inherit; font-size: inherit; font-weight: inherit; border: none; outline: none;}
button {cursor: pointer; display: block; box-sizing: content-box;}
button > img {width: 100%; height: 100%; pointer-events: none;}

html {
  min-height: 100%;
  font-size: calc(10px + (14 - 10) * (100vw - 400px) / (800 - 400));
}

body {
  min-height: 100%;
  background: #2E3440;
  color: #ECEFF4;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.title {
  font-weight: 600;
  font-size: 3rem;
  margin-left: 4rem;
  margin-top: 3rem;
  color: #D08770;
}

.gyro-info {
  display: block;
  position: absolute;
  width: 30rem;
  right: 6rem;
  color: #A3BE8C;
  font-size: 2.5rem;
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  height: 5px;
  width: 5px;
  border-radius: 2.5px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: #2E3440;
}

::-webkit-scrollbar-thumb {
  background: #88C0D0;
}

::-webkit-scrollbar-thumb:hover {
  background: #81A1C1; 
}

::selection {
  background: #B48EAD;
}