* {
  margin: 0px;
  padding: 0px;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  height: 100%;
}

body {
  height: 100%;
  background: #111;
  color: #edebde;
  font-family: 'Rubik', sans-serif;
}

header {
  height: 10vh;
  min-height: 3rem;
  max-height: 4rem;
  background: #be9b7b;
  color: black;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
  transition: background-color 0.2s ease-in-out;
}

header img {
  padding-left: 2rem;
  height: 3rem;
  width: 3rem;
}

header p {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 80%;
  margin: 0 auto;
  margin-top: 5vh;
}

main a {
  border-radius: 0.5rem;
  margin: 0.5rem;
}

main .item {
  min-width: 20rem;
  width: 20%;
  min-height: 2rem;
  border: solid rgba(237, 235, 222, 0.3) 1px;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.item:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(237, 235, 222, 0.8) 1px;
  color: white;
}

.item:hover .icon {
  opacity: 1;
}

main .item .icon {
  height: 2rem;
  opacity: 0.5;
}

main .item .name {
  padding-left: 1rem;
}

main .item .size {
  margin-left: auto;
  font-size: 1.2rem;
}

main .back {
  display: none;
}

.installApp {
  width: 15rem;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 0.5rem;
  background: #30343f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0,0,0,0.5);
  z-index: 4;
}

.installApp span {
  margin: 0.5rem 0;
  width: 90%;
}

.installApp button {
  width: 8rem;
  height: 2rem;
  border-radius: 1rem;
  margin: 0.5rem 0;
  padding: 0.2rem 0;
  font-size: 1.2rem;
  font-family: inherit;
  color: white;
  background: #d74f70;
  outline: none;
  box-shadow: 0.2rem 0.3rem 0.5rem rgba(0,0,0,0.2);
  transition: background-color 0.15s ease-in-out;
}

.installApp button:hover, .installApp button:active {
  background-color: #ed7a9e;
}

.cannotLoad {
  max-width: 30rem;
  max-height: 30rem;
  width: 80vmin;
  height: 80vmin;
  display: grid;
  grid-template-rows: 60% 20% 20%;
}

.cannotLoad img {
  width: 80%;
  height: 80%;
  margin: auto;
  opacity: 0.4;
  pointer-events: none;
  user-select: none;
}

.cannotLoad span {
  font-size: 1.4rem;
  margin: auto;
  text-align: center;
}

.cannotLoad a {
  display: contents;
}

.cannotLoad button {
  width: 12rem;
  height: 3rem;
  font-size: 1.4rem;
  background: #fade85;
  color: #111;
  font-weight: 600;
  font-family: inherit;
  border-radius: 1.5rem;
  margin: auto;
  outline: none;
  box-shadow: 0.2rem 0.3rem 0.5rem rgba(0,0,0,0.2);
}

.cannotLoad button:hover {
  background-color: #fae49d;
}

.cannotLoad button:active {
  background-color: #f6ebc8;
}

@media only screen and (max-width: 900px) {
  main {
    justify-content: center;
  }
  .installApp {
    width: calc(100% - 1rem);
    margin: 1rem auto;
  }
  .cannotLoad {
    margin: 1rem auto 3rem auto;
  }
}

@media only screen and (max-width: 600px) {
  header {
    justify-content: center;
    text-align: center;
  }
  header img {
    padding: 0;
  }
}

@media all and (min-width: 900px) {
  .installApp {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
  }
  .cannotLoad {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  height: 5px;
  width: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: #777; 
}

::selection {
  background: #d5cccc;
}