* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #2e3440;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

section {
  height: 100%;
  width: 100%;
  position: relative;
  flex: 1 1 150px;
  display: grid;
  place-items: center;
}

canvas {
  position: relative;
}