body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-color: #101215;
}

#main-ring, #inner-ring, .sector {
  -webkit-tap-highlight-color: transparent;
  margin: 5em;
  user-select: none;
}

.button-container {
  width: 100%;
  height: 100%;
}

#button {
  height: 70%;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-ring {
  stroke: rgb(75, 77, 104);
  fill: transparent;
  stroke-width: 120;
  cursor: pointer;
  transition: r 0.8s cubic-bezier(0.66, 1.8, 0.55, 1) 0s, stroke-width 0.5s cubic-bezier(0.66, 1.8, 0.65, 1) 0s;
}

#inner-ring {
  fill: #baaaff;
  cursor: pointer;
  transition: r 0.8s cubic-bezier(0.66, 1.8, 0.65, 1) 0s, fill 0.3s linear 0.2s;
  z-index: 2;
}

#main-ring:hover {
  stroke-width: 140;
}

.sector {
  cursor: pointer;
  transition: transform 0.8s cubic-bezier(0.66, 1.8, 0.55, 1);
  z-index: 1;
}

#s-1 {fill: #FF9AA2;}
#s-2 {fill: #FFB7B2;}
#s-3 {fill: #FFDAC1;}
#s-4 {fill: #E2F0CB;}
#s-5 {fill: #B5EAD7;}
#s-6 {fill: #C7CEEA;}

.menu-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 32px;
  fill: #101215;
  pointer-events: none;
  transition: transform 0.8s cubic-bezier(0.66, 1.8, 0.55, 1);
}

@media only screen and (max-width: 600px) {
  .menu-text {
    font-size: 12px;
  }
  .button-container {
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,.4))
  }
}

@media only screen and (min-width: 600px) {
  .sector {
    filter: url(#shadow);
  }
  #main-ring, #inner-ring {
    filter: url(#bigger-shadow);
  }
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  width: 7px;
  border-radius: 5px;
}

::-webkit-scrollbar:horizontal, ::-webkit-scrollbar-thumb:horizontal {
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #222025;
}

::-webkit-scrollbar-track:horizontal {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#A570A5, rgb(116, 81, 116));
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(rgb(202, 135, 202), rgb(155, 109, 155)); 
}