<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="apple-touch-startup-image" href="/icon.png">
    <meta charset="utf-8" />
    <title>TITLE GOES HERE</title>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
  
</body>
</html>