* {
  margin: 0;
  padding: 0;
}

a, a:visited {display: contents; color: inherit; text-decoration: none;}
button, input {color: inherit; font-family: inherit; font-size: inherit; font-weight: inherit; border: none; outline: none;}
button {cursor: pointer; display: block; box-sizing: content-box;}
button > img {width: 100%; height: 100%; pointer-events: none;}

html {
  min-height: 100%;
  font-size: calc(16px + (24 - 16) * (100vw - 400px) / (800 - 400)); /* Optional for text scaling */
}

body {
  min-height: 100%;
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  height: 5px;
  width: 5px;
  border-radius: 2.5px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: #777; 
}

::selection {
  background: #333;
  color: white;
}