* {
  margin: 0px;
  padding: 0px;
  border: none;
}

:root {
  height: 100%;
  font-size: calc(16px + (24 - 16) * (100vw - 400px) / (800 - 400)); /* Optional for text scaling */
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  height: 5px;
  width: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: #777; 
}

::selection {
  background: #302b2b;
  color: white;
}